[Unit]
Description=Touchscreen Backlight Manager
After=graphical.target

[Service]
Type=simple
WorkingDirectory=/opt/homelab/touchscreen/services/touchscreen-power
ExecStart=/opt/homelab/venvs/touchscreen-power/bin/python /opt/homelab/touchscreen/services/touchscreen-power/touchscreen-power.py
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target